<div class="card-columns" style="display:block; max-height: 100%; width: 800px; overflow: auto; overflow-x: hidden;">
    {% for event in site.posts %}
      <div class="card" style="width: 220px;">
        <a href="" style="text-decoration: none; ">
          <img class="card-img-top" src="{{ event.smallimage }}"/>
          <div class="card-body" style="text-align: center;">
            <h5 style="color: black">{{ event.title }}</h5>
            <h6 style="color: black">{{ event.datetime }}</h6>
            <p class="card-text">
            {{ event.description }}
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
</div>
