<div class="navbar main-menu">
  <ul class="nav">
    <li><a href="#" title="Home"><img class="center" src="images/home.png"/></a></li>
    <li><a href="#' title="Events><img class="center" src="images/calendar.png"/></a></li>
    <li><a href="location.html" title="Location"><img class="center" src="images/location.png"/></a></li>
    <li><a href="https://www.facebook.com/musicatstalbans/?ref=ts" title="Facebook"><img class="center" src="images/facebook.png"/></a></li>
    <li><a href="https://twitter.com/MusicatStAlbans" title="Twitter"><img class="center" src="images/twitter.png"/></a></li>
  </ul>
  <div class="verticaltitle">
    MUSIC AT ST ALBANS
  </div>
</div>
