---
layout: default
---

<!DOCTYPE html>
<html>
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css" />

<head>
</head>

<div id="wrapper">
  <div class="navbar main-menu">
    <ul class="nav">
      <li><a href="#" class="menu-menu sficon-menu" title="Home"></a></li>
      <li><a href="nearby.cfm" class="menu-location sficon-location" title="Nearby"></a></li>
      <li><a href="https://www.facebook.com/musicatstalbans/?ref=ts" class="menu-location sficon-facebook" title="Facebook" style="opacity: .99;"></a></li>
      <li><a href="https://twitter.com/MusicatStAlbans" class="menu-location sficon-twitter" title="Twitter" style="opacity: .99;"></a></li>
    </ul>
  </div>

  <div id="main-wrap">
    <div class="inner-wrap scroll-pane overthrow">
      <div id="top-left" class="spot scroll-pane overthrow">
        <div class="spothead">
          <h3 class="title">Features</h3>
        </div>
        <div class="inner">
        </div>
      </div>
      <div class="middle-center-bottom-right overthrow">
        <div id="middle-center" class="spot scroll-pane overthrow">
          <div class="slideshow">
            <div class="slide" style="background-image:url(spinnerimages/1.jpg);">
              <div class="slideshow-top">
                <h5 class="type">Editorial</h5>
                <div class="masa-logo"><img src="images/masalogo.png" /></div>
              </div>
              <div class="fade-overlay">
                <div class="pad2">
                  <h1 class="title"><a href="timelinejazz.html">Timeline Jazz</a></h1>
                  <h5 class="author">APRIL 19, 2020 - 3:00 PM</h5>
                </div>
              </div>
            </div>

          <div class="cycle-pager"></div>

        </div>
      </div>
    </div>
  </div>
</div>

</html>
