--- 
layout: default 
---

<div id="wrapper" style="width: 800px">
    <div id="imgcarousel">
        <div id="carouselId" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {%- for event in site.posts -%} {%- if forloop.index0 == 0 -%}
                <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                {%- else -%}
                <li data-target="#carouselId" data-slide-to="{{ forloop.index0 }}"></li>
                {%- endif -%} {%- endfor -%}
            </ol>
            <div class="carousel-inner">
                {% assign activeelementset = false %} {% for event in site.posts %} {% if activeelementset %}
                <div class="carousel-item" style="height: 800">
                    {% else %}
                    <div class="carousel-item active">
                        {% assign activeelementset = true %} {% endif %}

                        <div class="d-block w-100" style="height: 800px;">

                            <img class="floating-image" src="{{ event.logo }}" />
                            <div class="floating-title">
                                <H1 class="title">{{ event.title }}</H1>
                                <H6 class="subtitle">{{ event.datetime }}</H6>
                            </div>
                            <img src="{{ event.largeimage }}">
                        </div>

                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    {%- include events.html -%}
